
  body{
      margin: 0;

  }
  .slide-container{
      position: relative;
      width: 100%;
  }
  .slide img{
      width: 100%;
      
  }
  .arrow{
      cursor: pointer;
      position: absolute;
      top: 45%;
      color: black;
      background-color:antiquewhite ;
      padding: 8px 15px;
      border-radius: 50%;
      font-size: 30px;
      font-weight: bold;
  }
  .next{
      right: 10px;
  }
  .prev{
      left: 10px;
  }
  .caption{
      color: white;
      font-size: 20px;
      font-weight: bold;
      position: absolute;
      bottom: 0px;
      width: 100%;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.498);
      padding: 15px 0px;
      
  }
  .slide{
      display: none;
  }